{% extends 'base.html.twig' %}



{% block body %}

        <h1> {{ number }} </h1>

{% endblock %}

{# {% block javascripts %}

<script>
var name = prompt('Qual o seu nome? ');
document.getElementById('name').innerHTML = name;

</script>

{% endblock %} #}
